<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '/css/style.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <i class="fa fa-camera" aria-hidden="true"></i>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Albums</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fruid">
    <%= yield %>
    </div>
    <div class="footer-defi text-center center-block">
      <div class="row">
        <div class="col-md-4 photograph-blog">
          Photograph blog
        </div>
      </div>
      <a href="https://www.facebook.com/" target="_blank">
        <i class="fa fa-facebook-square fa-4x social" aria-hidden="true" id="social-fb"></i>
      </a>
      <a href="https://twitter.com/" target="_blank">
        <i class="fa fa-twitter-square fa-4x social" aria-hidden="true" id="social-tw"></i>
      </a>
      <a href="https://plus.google.com/" target="_blank">
        <i class="fa fa-google-plus-square fa-4x social" aria-hidden="true" id="social-gp"></i>
      </a>
      <a href="#">
        <i id="social-em" class="fa fa-envelope-square fa-4x social"></i>
      </a>
    </div>
  </body>
</html>
